.row{
    flex-wrap: unset;
    margin-bottom: 50px
}

.container{
    margin-top: 50px;
    vertical-align: middle;
    text-align: center;
}

.navbar-brand{
    margin-right: 0px;
}

.control{
    width: 150px;
    height: 150px;
}

.button-icon{
    text-align: -webkit-center;
}